@model IEnumerable<EZ_Regulatory3.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>
            Checklist Name
        </th>
        <th>
            User Name
        </th>
        <th>
            Export to CSV
        </th>
    </tr>

        @foreach (var item in Model) {
                foreach(var user in item.Users)
                {
                  <tr> 
                        <td>
                            @Html.ActionLink(item.Title, "Details", new { id=user.ID , surveyid = item.ID})
                        </td>
                        <td>
                            @Html.ActionLink(user.Name, "Details", new { id=user.ID , surveyid = item.ID})
                        </td>
                      <td>
                            @Html.ActionLink("Export", "CSV", new { userID=user.ID , surveyID = item.ID})
                        </td>
                  </tr>
                }
    

        }

</table>
