@model IEnumerable<EZ_Regulatory3.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            DateModified
        </th>
        <th>
            Submitted
        </th>
        <th>
            Approved
        </th>
        <th>
            Month
        </th>
        <th>
            DateAdded
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("ViewChecklist", "ViewChecklist", new { id=item.ID })
                </td>
            </tr>
    

        }

</table>
