@model IEnumerable<EZ_Regulatory3.Models.User>

@{
    EZ_Regulatory3.Models.User user = ViewBag.User;
    ViewBag.Title = "Compliance Checklist Home";
}
<h2>@user.Name Compliance Checklist Home</h2>

<div class="box">
    <h3>Div Title</h3>
    <p>Div content.</p>
</div>
